###### Задание 1. Загрузка данных
Загрузите  файлы по оценкам (ratings) и фильмам (movies) и создайте на их основе pandas-датафреймы

In [1]:
import pandas as pd
import numpy as np
from tabulate import tabulate

In [2]:
# user id | item id | rating | timestamp
df_ratings = pd.read_csv('rating.csv', 
                        sep='\t', 
                        names=["user_id",
                        "item_id",
                        "rating",
                        "timestamp"],
                        dtype = {
                        "user_id": 'Int32', #01 
                        "item_id": 'Int64',  #02 
                        "rating":  'Float16',  
                        "timestamp": 'Int64', #03
                                 }
                        )

In [3]:
df_ratings.info()
df_ratings.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100000 non-null  Int32
 1   item_id    100000 non-null  Int64
 2   rating     100000 non-null  float16
 3   timestamp  100000 non-null  Int64
dtypes: Int32(1), Int64(2), float16(1)
memory usage: 2.4 MB

   user_id  item_id  rating  timestamp
0      196      242     3.0  881250949
1      186      302     3.0  891717742
2       22      377     1.0  878887116
3      244       51     2.0  880606923
4      166      346     1.0  886397596

In [4]:
'''
movie id | movie title | release date | video release date |
              IMDb URL | unknown | Action | Adventure | Animation |
              Children's | Comedy | Crime | Documentary | Drama | Fantasy |
              Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |
              Thriller | War | Western | 
              
'''              
df_movies = pd.read_csv('movies.csv', 
                        sep='|', 
                        names=["movie_id","movie_title", "release_date", "video_release_date",
                               "IMDb_URL", "unknown", "action", "adventure", "animation", 
                                "children_s", "comedy", "crime", "documentary", "drama", "fantasy",
                                "film-noir", "horror", "musical", "mystery", "romance", "sci-fi", 
                                "thriller", "war", "western"],
# https://stackoverflow.com/questions/5552555/unicodedecodeerror-invalid-continuation-byte                        
                        encoding='latin-1' 
                        )

In [5]:
df_movies.info()
df_movies.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_id            1682 non-null   int64
 1   movie_title         1682 non-null   object
 2   release_date        1681 non-null   object
 3   video_release_date  0 non-null      float64
 4   IMDb_URL            1679 non-null   object
 5   unknown             1682 non-null   int64
 6   action              1682 non-null   int64
 7   adventure           1682 non-null   int64
 8   animation           1682 non-null   int64
 9   children_s          1682 non-null   int64
 10  comedy              1682 non-null   int64
 11  crime               1682 non-null   int64
 12  documentary         1682 non-null   int64
 13  drama               1682 non-null   int64
 14  fantasy             1682 non-null   int64
 15  film-noir           1682 non-null   int64
 16  horror              1682 non-null   int64
 17  musical             1682 non-null   int64
 18  mystery             1682 non-null   int64
 19  romance             1682 non-null   int64
 20  sci-fi              1682 non-null   int64
 21  thriller            1682 non-null   int64
 22  war                 1682 non-null   int64
 23  western             1682 non-null   int64
dtypes: float64(1), int64(20), object(3)
memory usage: 315.5+ KB

,movie_id,movie_title,release_date,video_release_date,IMDb_URL,unknown,action,adventure,animation,children_s,...,fantasy,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

###### Задание 2. 
Средствами Pandas, используя dataframe ratings, найдите id пользователя, поставившего больше всего оценок

In [6]:
df_groups = df_ratings.groupby('user_id').count()
df_groups.sort_values(by='rating', ascending=False).head(1)

         item_id  rating  timestamp
user_id
405          737     737        737

Это пользователь с **user_id** равным **405**

###### Задание 3. 
Оставьте в датафрейме ratings только те фильмы, который оценил данный пользователь

In [7]:
# Выберем фильмы оценённые пользователем 405:
df_405 = df_ratings.loc[df_ratings.user_id == 405]
df_405.head(5)

       user_id  item_id  rating  timestamp
12276      405       56     4.0  885544911
12383      405      592     1.0  885548670
12430      405     1582     1.0  885548670
12449      405      171     1.0  885549544
12460      405      580     1.0  885547447

Для построения модели нам нужны признаки. В качестве таковых будем использовать:
1. Год выхода
2. Жанры
3. Общее количество оценок
4. Суммарную оценку

###### Задание 4. 
Добавьте к датафрейму из задания 3 следующие столбцы:
1. По жанрам. Каждый столбец - это жанр. Единицу записываем, если фильм принадлежит данному жанру и 0 - если нет
2. Cтолбец с общим количеством оценок от всех пользователей на фильм
3. Cуммарной оценкой от всех пользователей

Чтобы добавить данные о жанрах нужно соединить датасеты **df_405** и   **df_movies** по столбцу идентификатора фильма:

In [8]:
df_row_join =  pd.merge(df_405, df_movies, how='inner', on=None, left_on='item_id', right_on='movie_id')
# Удалим лишние столбцы:
df_row_join.drop(columns=['timestamp','video_release_date','IMDb_URL','movie_title', 'movie_id'], inplace=True)
df_row_join.sort_values(by='item_id', ascending=True)

,user_id,item_id,rating,release_date,unknown,action,adventure,animation,children_s,comedy,...,fantasy,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western
239,405,2,1.0,01-Jan-1995,0,1,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
595,405,4,4.0,01-Jan-1995,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
362,405,5,4.0,01-Jan-1995,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
458,405,8,4.0,01-Jan-1995,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
23,405,11,4.0,01-Jan-1995,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,405,1588,1.0,21-Feb-1997,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
207,405,1589,1.0,23-May-1997,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
254,405,1590,1.0,06-Jun-1997,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
630,405,1591,1.0,21-Jan-1998,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
219,405,1592,1.0,30-Jan-1998,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Вычислим агрегированные значения по всем фильмам:
1. Cтолбец с общим количеством оценок от всех пользователей на фильм 
2. Cуммарной оценкой от всех пользователей

In [9]:
df_rating_group = df_ratings.groupby('item_id').agg({'rating':['sum','count']}).reset_index()
# Переименуем колонки:
df_rating_group.columns = ['item_id', 'rating_sum','rating_count']
df_rating_group.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   item_id       1682 non-null   int64
 1   rating_sum    1682 non-null   float16
 2   rating_count  1682 non-null   int64
dtypes: float16(1), int64(2)
memory usage: 29.7 KB

Объединим датафреймы для построения модели:

In [10]:
df_for_model = pd.merge(df_row_join, df_rating_group, how='inner', on=None, left_on='item_id', right_on='item_id')
df_for_model.head(5)

,user_id,item_id,rating,release_date,unknown,action,adventure,animation,children_s,comedy,...,horror,musical,mystery,romance,sci-fi,thriller,war,western,rating_sum,rating_count
0,405,56,4.0,01-Jan-1994,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1600.0,394
1,405,592,1.0,01-Jan-1995,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,30.0,9
2,405,1582,1.0,01-Jan-1947,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1.0,1
3,405,171,1.0,01-Jan-1991,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,252.0,65
4,405,580,1.0,01-Jan-1995,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,108.0,32

Преобразуем столбец **release_date** в формат date/time:

In [11]:
df_for_model['release_date'] = pd.to_datetime(df_for_model['release_date'])
df_for_model.info()
df_for_model.head(5)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 737 entries, 0 to 736
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       737 non-null    Int32
 1   item_id       737 non-null    Int64
 2   rating        737 non-null    float16
 3   release_date  737 non-null    datetime64[ns]
 4   unknown       737 non-null    int64
 5   action        737 non-null    int64
 6   adventure     737 non-null    int64
 7   animation     737 non-null    int64
 8   children_s    737 non-null    int64
 9   comedy        737 non-null    int64
 10  crime         737 non-null    int64
 11  documentary   737 non-null    int64
 12  drama         737 non-null    int64
 13  fantasy       737 non-null    int64
 14  film-noir     737 non-null    int64
 15  horror        737 non-null    int64
 16  musical       737 non-null    int64
 17  mystery       737 non-null    int64
 18  romance       737 non-null    int64
 19  sci-fi        737 non-null    int64
 20  thriller      737 non-null    int64
 21  war           737 non-null    int64
 22  western       737 non-null    int64
 23  rating_sum    737 non-null    float16
 24  rating_count  737 non-null    int64
dtypes: Int32(1), Int64(1), datetime64[ns](1), float16(2), int64(20)
memory usage: 139.6 KB

,user_id,item_id,rating,release_date,unknown,action,adventure,animation,children_s,comedy,...,horror,musical,mystery,romance,sci-fi,thriller,war,western,rating_sum,rating_count
0,405,56,4.0,1994-01-01,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1600.0,394
1,405,592,1.0,1995-01-01,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,30.0,9
2,405,1582,1.0,1947-01-01,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1.0,1
3,405,171,1.0,1991-01-01,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,252.0,65
4,405,580,1.0,1995-01-01,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,108.0,32

Выделим год выпуска фильма в отдельный столбец **release_year**:

In [12]:
df_for_model['release_year'] = df_for_model['release_date'].dt.year
df_for_model.info()
df_for_model.head(5).sort_values(by='rating_sum', ascending=False)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 737 entries, 0 to 736
Data columns (total 26 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       737 non-null    Int32
 1   item_id       737 non-null    Int64
 2   rating        737 non-null    float16
 3   release_date  737 non-null    datetime64[ns]
 4   unknown       737 non-null    int64
 5   action        737 non-null    int64
 6   adventure     737 non-null    int64
 7   animation     737 non-null    int64
 8   children_s    737 non-null    int64
 9   comedy        737 non-null    int64
 10  crime         737 non-null    int64
 11  documentary   737 non-null    int64
 12  drama         737 non-null    int64
 13  fantasy       737 non-null    int64
 14  film-noir     737 non-null    int64
 15  horror        737 non-null    int64
 16  musical       737 non-null    int64
 17  mystery       737 non-null    int64
 18  romance       737 non-null    int64
 19  sci-fi        737 non-null    int64
 20  thriller      737 non-null    int64
 21  war           737 non-null    int64
 22  western       737 non-null    int64
 23  rating_sum    737 non-null    float16
 24  rating_count  737 non-null    int64
 25  release_year  737 non-null    int64
dtypes: Int32(1), Int64(1), datetime64[ns](1), float16(2), int64(21)
memory usage: 145.4 KB

,user_id,item_id,rating,release_date,unknown,action,adventure,animation,children_s,comedy,...,musical,mystery,romance,sci-fi,thriller,war,western,rating_sum,rating_count,release_year
0,405,56,4.0,1994-01-01,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1600.0,394,1994
3,405,171,1.0,1991-01-01,0,0,0,0,0,1,...,0,0,0,1,0,0,0,252.0,65,1991
4,405,580,1.0,1995-01-01,0,0,0,0,0,1,...,0,0,1,0,0,0,0,108.0,32,1995
1,405,592,1.0,1995-01-01,0,0,0,0,0,0,...,0,1,0,0,1,0,0,30.0,9,1995
2,405,1582,1.0,1947-01-01,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1.0,1,1947

**Теперь все готово и можно строить модель**

In [13]:
# опишем перечень колонок для X:
cols  =  ['unknown',
    'action',        
    'adventure',
 'animation',
 'children_s',
 'comedy',
 'crime',
 'documentary',
 'drama',
 'fantasy',
 'film-noir',
 'horror',
 'musical',
 'mystery',
 'romance',           
 'sci-fi',
 'thriller',
 'war',
 'western',  
 'rating_sum',
 'rating_count',
 'release_year']

In [14]:
# Сформировать X и y из df_for_model, выбрав нужные колонки
X = df_for_model[cols]
y = df_for_model['rating']

In [15]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 737 entries, 0 to 736
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   unknown       737 non-null    int64
 1   action        737 non-null    int64
 2   adventure     737 non-null    int64
 3   animation     737 non-null    int64
 4   children_s    737 non-null    int64
 5   comedy        737 non-null    int64
 6   crime         737 non-null    int64
 7   documentary   737 non-null    int64
 8   drama         737 non-null    int64
 9   fantasy       737 non-null    int64
 10  film-noir     737 non-null    int64
 11  horror        737 non-null    int64
 12  musical       737 non-null    int64
 13  mystery       737 non-null    int64
 14  romance       737 non-null    int64
 15  sci-fi        737 non-null    int64
 16  thriller      737 non-null    int64
 17  war           737 non-null    int64
 18  western       737 non-null    int64
 19  rating_sum    737 non-null    float16
 20  rating_count  737 non-null    int64
 21  release_year  737 non-null    int64
dtypes: float16(1), int64(21)
memory usage: 128.1 KB

Разделим данные на обучающую и тестовую выборки в пропорции 70% на 30%:

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

Проверим размерности выборок:

In [17]:
print(X_train.shape)
print(X_test.shape)

(515, 22)
(222, 22)

In [18]:
print(y_train.shape)
print(y_test.shape)

(515,)
(222,)

Обучим модель:

In [19]:
from  sklearn.linear_model import LinearRegression 
model =  LinearRegression() 
model.fit(X_train, y_train)  # метод обучается на данных и подбирает оптимальные коэффициенты

LinearRegression()

Посмотрим коэффициенты регрессионной модели:

In [20]:
model.coef_

array([ 0.        , -0.22687525, -0.31448619, -0.21060616,  0.43744157,
        0.20347135, -0.0193515 ,  0.51386454,  0.1528343 , -0.29330466,
       -0.42717305, -0.02484303,  0.26710488,  0.30787629, -0.12571284,
        0.08894853,  0.21079784, -0.36706937, -0.11316978, -0.00186138,
        0.01752502, -0.00643567])

и остаток:

In [21]:
model.intercept_

13.760996060252763

Оценим полученное качество модели:

In [22]:
y_train_pred = model.predict(X_train) 
y_test_pred = model.predict(X_test)

Посмотрим как модель работает на тестовой выборке:

In [23]:
i = 0
for index_, y_test_val in y_test.items():
   
    print(f'{i+1:2d}. Реальное значение: {y_test_val:3.1f}  \
cмоделированное значение: {y_test_pred[i]:3.1f}  \
расхождение в {((y_test_pred[i]/y_test_val)-1)*100:3.1f} %')
    i += 1

 1. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 13.5 %
 2. Реальное значение: 1.0  cмоделированное значение: 1.8  расхождение в 77.4 %
 3. Реальное значение: 1.0  cмоделированное значение: 1.0  расхождение в -0.6 %
 4. Реальное значение: 1.0  cмоделированное значение: 1.3  расхождение в 30.5 %
 5. Реальное значение: 1.0  cмоделированное значение: 3.0  расхождение в 202.9 %
 6. Реальное значение: 1.0  cмоделированное значение: 3.1  расхождение в 205.7 %
 7. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 18.3 %
 8. Реальное значение: 1.0  cмоделированное значение: 2.0  расхождение в 103.0 %
 9. Реальное значение: 1.0  cмоделированное значение: 4.4  расхождение в 340.6 %
10. Реальное значение: 5.0  cмоделированное значение: 1.8  расхождение в -63.4 %
11. Реальное значение: 5.0  cмоделированное значение: 3.4  расхождение в -32.5 %
12. Реальное значение: 1.0  cмоделированное значение: 2.0  расхождение в 103.7 %
13. Реальное значение: 5.0  cмоделированное значение: 1.4  расхождение в -71.7 %
14. Реальное значение: 1.0  cмоделированное значение: 2.7  расхождение в 173.1 %
15. Реальное значение: 3.0  cмоделированное значение: 0.9  расхождение в -68.6 %
16. Реальное значение: 1.0  cмоделированное значение: 1.4  расхождение в 35.8 %
17. Реальное значение: 5.0  cмоделированное значение: 1.6  расхождение в -68.4 %
18. Реальное значение: 1.0  cмоделированное значение: 2.6  расхождение в 157.7 %
19. Реальное значение: 3.0  cмоделированное значение: 2.0  расхождение в -34.8 %
20. Реальное значение: 2.0  cмоделированное значение: 1.3  расхождение в -32.7 %
21. Реальное значение: 1.0  cмоделированное значение: 1.8  расхождение в 79.1 %
22. Реальное значение: 4.0  cмоделированное значение: 2.0  расхождение в -50.7 %
23. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 17.6 %
24. Реальное значение: 1.0  cмоделированное значение: 1.7  расхождение в 68.5 %
25. Реальное значение: 1.0  cмоделированное значение: 1.4  расхождение в 38.0 %
26. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 8.1 %
27. Реальное значение: 1.0  cмоделированное значение: 1.5  расхождение в 51.2 %
28. Реальное значение: 1.0  cмоделированное значение: 1.7  расхождение в 66.8 %
29. Реальное значение: 1.0  cмоделированное значение: 1.5  расхождение в 48.5 %
30. Реальное значение: 1.0  cмоделированное значение: 2.6  расхождение в 161.6 %
31. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 15.7 %
32. Реальное значение: 1.0  cмоделированное значение: 4.0  расхождение в 298.7 %
33. Реальное значение: 2.0  cмоделированное значение: 1.8  расхождение в -9.1 %
34. Реальное значение: 4.0  cмоделированное значение: 3.2  расхождение в -18.8 %
35. Реальное значение: 2.0  cмоделированное значение: 1.2  расхождение в -39.0 %
36. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 18.8 %
37. Реальное значение: 1.0  cмоделированное значение: 1.3  расхождение в 30.2 %
38. Реальное значение: 5.0  cмоделированное значение: 3.4  расхождение в -32.6 %
39. Реальное значение: 2.0  cмоделированное значение: 0.5  расхождение в -76.0 %
40. Реальное значение: 2.0  cмоделированное значение: 2.0  расхождение в -1.8 %
41. Реальное значение: 5.0  cмоделированное значение: 3.1  расхождение в -37.7 %
42. Реальное значение: 1.0  cмоделированное значение: 0.5  расхождение в -51.2 %
43. Реальное значение: 2.0  cмоделированное значение: 1.4  расхождение в -30.8 %
44. Реальное значение: 4.0  cмоделированное значение: 2.0  расхождение в -50.3 %
45. Реальное значение: 2.0  cмоделированное значение: 3.6  расхождение в 77.8 %
46. Реальное значение: 1.0  cмоделированное значение: 2.3  расхождение в 127.2 %
47. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 24.0 %
48. Реальное значение: 5.0  cмоделированное значение: 3.7  расхождение в -25.2 %
49. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 17.0 %
50. Реальное значение: 5.0  cмоделированное значение: 4.3  расхождение в -14.5 %
51. Реальное значение: 3.0  cмоделированное значение: 3.7  расхождение в 22.0 %
52. Реальное значение: 1.0  cмоделированное значение: 1.5  расхождение в 48.7 %
53. Реальное значение: 1.0  cмоделированное значение: 1.3  расхождение в 32.6 %
54. Реальное значение: 5.0  cмоделированное значение: 5.6  расхождение в 11.6 %
55. Реальное значение: 5.0  cмоделированное значение: 1.3  расхождение в -73.2 %
56. Реальное значение: 1.0  cмоделированное значение: 1.5  расхождение в 51.1 %
57. Реальное значение: 2.0  cмоделированное значение: 2.4  расхождение в 20.9 %
58. Реальное значение: 5.0  cмоделированное значение: 3.4  расхождение в -32.3 %
59. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 16.0 %
60. Реальное значение: 2.0  cмоделированное значение: 1.2  расхождение в -39.4 %
61. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 21.6 %
62. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 22.1 %
63. Реальное значение: 1.0  cмоделированное значение: 1.5  расхождение в 46.1 %
64. Реальное значение: 2.0  cмоделированное значение: 2.5  расхождение в 25.7 %
65. Реальное значение: 2.0  cмоделированное значение: 1.3  расхождение в -33.3 %
66. Реальное значение: 5.0  cмоделированное значение: 1.7  расхождение в -65.6 %
67. Реальное значение: 2.0  cмоделированное значение: 1.5  расхождение в -26.7 %
68. Реальное значение: 4.0  cмоделированное значение: 2.0  расхождение в -50.6 %
69. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 12.5 %
70. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 14.2 %
71. Реальное значение: 3.0  cмоделированное значение: 1.4  расхождение в -54.6 %
72. Реальное значение: 1.0  cмоделированное значение: 0.9  расхождение в -9.4 %
73. Реальное значение: 5.0  cмоделированное значение: 1.9  расхождение в -61.3 %
74. Реальное значение: 1.0  cмоделированное значение: 1.8  расхождение в 75.1 %
75. Реальное значение: 5.0  cмоделированное значение: 2.2  расхождение в -55.6 %
76. Реальное значение: 1.0  cмоделированное значение: 0.9  расхождение в -6.2 %
77. Реальное значение: 1.0  cмоделированное значение: 2.4  расхождение в 137.8 %
78. Реальное значение: 1.0  cмоделированное значение: 1.5  расхождение в 48.8 %
79. Реальное значение: 4.0  cмоделированное значение: 3.6  расхождение в -11.0 %
80. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 24.8 %
81. Реальное значение: 1.0  cмоделированное значение: 1.4  расхождение в 39.4 %
82. Реальное значение: 1.0  cмоделированное значение: 1.7  расхождение в 67.3 %
83. Реальное значение: 1.0  cмоделированное значение: 1.3  расхождение в 34.8 %
84. Реальное значение: 3.0  cмоделированное значение: 2.0  расхождение в -34.8 %
85. Реальное значение: 2.0  cмоделированное значение: 1.7  расхождение в -16.6 %
86. Реальное значение: 1.0  cмоделированное значение: 0.9  расхождение в -12.6 %
87. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 12.9 %
88. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 9.8 %
89. Реальное значение: 1.0  cмоделированное значение: 1.5  расхождение в 49.0 %
90. Реальное значение: 1.0  cмоделированное значение: 2.2  расхождение в 118.5 %
91. Реальное значение: 3.0  cмоделированное значение: 2.5  расхождение в -16.7 %
92. Реальное значение: 1.0  cмоделированное значение: 1.5  расхождение в 47.1 %
93. Реальное значение: 4.0  cмоделированное значение: 2.2  расхождение в -46.2 %
94. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 9.1 %
95. Реальное значение: 4.0  cмоделированное значение: 1.5  расхождение в -63.5 %
96. Реальное значение: 1.0  cмоделированное значение: 3.0  расхождение в 196.0 %
97. Реальное значение: 1.0  cмоделированное значение: 2.6  расхождение в 160.1 %
98. Реальное значение: 5.0  cмоделированное значение: 2.3  расхождение в -54.9 %
99. Реальное значение: 1.0  cмоделированное значение: 1.4  расхождение в 42.7 %
100. Реальное значение: 1.0  cмоделированное значение: 1.0  расхождение в -3.2 %
101. Реальное значение: 1.0  cмоделированное значение: 1.3  расхождение в 34.0 %
102. Реальное значение: 1.0  cмоделированное значение: 1.5  расхождение в 47.8 %
103. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 9.7 %
104. Реальное значение: 1.0  cмоделированное значение: 1.9  расхождение в 86.9 %
105. Реальное значение: 2.0  cмоделированное значение: 2.7  расхождение в 36.9 %
106. Реальное значение: 1.0  cмоделированное значение: 1.3  расхождение в 30.3 %
107. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 12.3 %
108. Реальное значение: 2.0  cмоделированное значение: 1.0  расхождение в -50.8 %
109. Реальное значение: 1.0  cмоделированное значение: 2.1  расхождение в 114.0 %
110. Реальное значение: 1.0  cмоделированное значение: 1.5  расхождение в 46.4 %
111. Реальное значение: 2.0  cмоделированное значение: 2.9  расхождение в 44.6 %
112. Реальное значение: 2.0  cмоделированное значение: 1.9  расхождение в -5.8 %
113. Реальное значение: 2.0  cмоделированное значение: 3.4  расхождение в 69.7 %
114. Реальное значение: 4.0  cмоделированное значение: 3.0  расхождение в -25.3 %
115. Реальное значение: 1.0  cмоделированное значение: 1.7  расхождение в 68.1 %
116. Реальное значение: 1.0  cмоделированное значение: 1.8  расхождение в 77.8 %
117. Реальное значение: 1.0  cмоделированное значение: 0.8  расхождение в -21.7 %
118. Реальное значение: 1.0  cмоделированное значение: 1.4  расхождение в 37.5 %
119. Реальное значение: 5.0  cмоделированное значение: 2.5  расхождение в -49.9 %
120. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 18.2 %
121. Реальное значение: 1.0  cмоделированное значение: 1.4  расхождение в 37.7 %
122. Реальное значение: 2.0  cмоделированное значение: 2.8  расхождение в 40.5 %
123. Реальное значение: 3.0  cмоделированное значение: 1.3  расхождение в -55.9 %
124. Реальное значение: 5.0  cмоделированное значение: 3.3  расхождение в -34.1 %
125. Реальное значение: 1.0  cмоделированное значение: 0.8  расхождение в -18.1 %
126. Реальное значение: 1.0  cмоделированное значение: 3.6  расхождение в 257.6 %
127. Реальное значение: 1.0  cмоделированное значение: 1.5  расхождение в 53.9 %
128. Реальное значение: 1.0  cмоделированное значение: 1.9  расхождение в 94.8 %
129. Реальное значение: 1.0  cмоделированное значение: 1.8  расхождение в 76.7 %
130. Реальное значение: 4.0  cмоделированное значение: 2.3  расхождение в -41.3 %
131. Реальное значение: 3.0  cмоделированное значение: 1.6  расхождение в -46.2 %
132. Реальное значение: 5.0  cмоделированное значение: 1.8  расхождение в -65.0 %
133. Реальное значение: 1.0  cмоделированное значение: 1.5  расхождение в 49.8 %
134. Реальное значение: 1.0  cмоделированное значение: 3.4  расхождение в 236.8 %
135. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 13.5 %
136. Реальное значение: 1.0  cмоделированное значение: 2.1  расхождение в 110.5 %
137. Реальное значение: 1.0  cмоделированное значение: 2.1  расхождение в 110.6 %
138. Реальное значение: 1.0  cмоделированное значение: 1.7  расхождение в 74.9 %
139. Реальное значение: 1.0  cмоделированное значение: 1.9  расхождение в 90.8 %
140. Реальное значение: 1.0  cмоделированное значение: 2.0  расхождение в 97.7 %
141. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 14.4 %
142. Реальное значение: 2.0  cмоделированное значение: 2.1  расхождение в 6.1 %
143. Реальное значение: 1.0  cмоделированное значение: 1.3  расхождение в 26.0 %
144. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 12.1 %
145. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 14.0 %
146. Реальное значение: 1.0  cмоделированное значение: 2.1  расхождение в 107.1 %
147. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 17.2 %
148. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 8.1 %
149. Реальное значение: 3.0  cмоделированное значение: 1.1  расхождение в -61.7 %
150. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 23.0 %
151. Реальное значение: 1.0  cмоделированное значение: 1.3  расхождение в 27.5 %
152. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 8.5 %
153. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 21.1 %
154. Реальное значение: 2.0  cмоделированное значение: 3.4  расхождение в 67.9 %
155. Реальное значение: 1.0  cмоделированное значение: 1.7  расхождение в 70.4 %
156. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 7.3 %
157. Реальное значение: 3.0  cмоделированное значение: 1.5  расхождение в -49.1 %
158. Реальное значение: 2.0  cмоделированное значение: 1.2  расхождение в -39.1 %
159. Реальное значение: 1.0  cмоделированное значение: 1.7  расхождение в 66.4 %
160. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 17.6 %
161. Реальное значение: 1.0  cмоделированное значение: 2.7  расхождение в 170.7 %
162. Реальное значение: 1.0  cмоделированное значение: 0.9  расхождение в -13.7 %
163. Реальное значение: 3.0  cмоделированное значение: 2.8  расхождение в -6.3 %
164. Реальное значение: 1.0  cмоделированное значение: 1.4  расхождение в 42.3 %
165. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 8.0 %
166. Реальное значение: 1.0  cмоделированное значение: 1.0  расхождение в -3.7 %
167. Реальное значение: 4.0  cмоделированное значение: 1.1  расхождение в -71.8 %
168. Реальное значение: 1.0  cмоделированное значение: 1.0  расхождение в -2.1 %
169. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 24.8 %
170. Реальное значение: 1.0  cмоделированное значение: 2.0  расхождение в 101.5 %
171. Реальное значение: 1.0  cмоделированное значение: 1.8  расхождение в 84.1 %
172. Реальное значение: 4.0  cмоделированное значение: 2.3  расхождение в -41.4 %
173. Реальное значение: 5.0  cмоделированное значение: 2.6  расхождение в -47.1 %
174. Реальное значение: 3.0  cмоделированное значение: 2.1  расхождение в -29.6 %
175. Реальное значение: 1.0  cмоделированное значение: 2.1  расхождение в 106.1 %
176. Реальное значение: 1.0  cмоделированное значение: 1.9  расхождение в 85.4 %
177. Реальное значение: 1.0  cмоделированное значение: 1.3  расхождение в 28.2 %
178. Реальное значение: 1.0  cмоделированное значение: 1.7  расхождение в 74.3 %
179. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 11.4 %
180. Реальное значение: 1.0  cмоделированное значение: 1.5  расхождение в 54.2 %
181. Реальное значение: 1.0  cмоделированное значение: 1.5  расхождение в 46.6 %
182. Реальное значение: 1.0  cмоделированное значение: 1.4  расхождение в 41.1 %
183. Реальное значение: 1.0  cмоделированное значение: 1.3  расхождение в 31.9 %
184. Реальное значение: 1.0  cмоделированное значение: 0.9  расхождение в -10.0 %
185. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 11.0 %
186. Реальное значение: 1.0  cмоделированное значение: 1.3  расхождение в 34.3 %
187. Реальное значение: 1.0  cмоделированное значение: 1.6  расхождение в 58.4 %
188. Реальное значение: 1.0  cмоделированное значение: 1.7  расхождение в 71.5 %
189. Реальное значение: 3.0  cмоделированное значение: 1.4  расхождение в -52.9 %
190. Реальное значение: 1.0  cмоделированное значение: 1.5  расхождение в 48.2 %
191. Реальное значение: 1.0  cмоделированное значение: 3.7  расхождение в 268.2 %
192. Реальное значение: 3.0  cмоделированное значение: 3.3  расхождение в 11.4 %
193. Реальное значение: 2.0  cмоделированное значение: 1.3  расхождение в -36.7 %
194. Реальное значение: 1.0  cмоделированное значение: 1.4  расхождение в 39.2 %
195. Реальное значение: 1.0  cмоделированное значение: 1.9  расхождение в 85.1 %
196. Реальное значение: 1.0  cмоделированное значение: 1.8  расхождение в 77.0 %
197. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 8.9 %
198. Реальное значение: 1.0  cмоделированное значение: 0.6  расхождение в -43.0 %
199. Реальное значение: 1.0  cмоделированное значение: 1.6  расхождение в 63.4 %
200. Реальное значение: 1.0  cмоделированное значение: 2.3  расхождение в 134.6 %
201. Реальное значение: 1.0  cмоделированное значение: 1.4  расхождение в 38.6 %
202. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 6.7 %
203. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 23.6 %
204. Реальное значение: 1.0  cмоделированное значение: 1.3  расхождение в 34.4 %
205. Реальное значение: 1.0  cмоделированное значение: 1.2  расхождение в 23.5 %
206. Реальное значение: 1.0  cмоделированное значение: 3.4  расхождение в 243.0 %
207. Реальное значение: 1.0  cмоделированное значение: 1.6  расхождение в 56.2 %
208. Реальное значение: 5.0  cмоделированное значение: 4.3  расхождение в -14.6 %
209. Реальное значение: 2.0  cмоделированное значение: 2.6  расхождение в 29.6 %
210. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 12.8 %
211. Реальное значение: 3.0  cмоделированное значение: 3.1  расхождение в 3.9 %
212. Реальное значение: 4.0  cмоделированное значение: 2.8  расхождение в -30.2 %
213. Реальное значение: 2.0  cмоделированное значение: 1.1  расхождение в -43.6 %
214. Реальное значение: 3.0  cмоделированное значение: 1.9  расхождение в -35.5 %
215. Реальное значение: 1.0  cмоделированное значение: 1.3  расхождение в 25.6 %
216. Реальное значение: 1.0  cмоделированное значение: 0.8  расхождение в -18.5 %
217. Реальное значение: 1.0  cмоделированное значение: 1.6  расхождение в 55.9 %
218. Реальное значение: 1.0  cмоделированное значение: 1.4  расхождение в 37.6 %
219. Реальное значение: 1.0  cмоделированное значение: 1.1  расхождение в 13.4 %
220. Реальное значение: 1.0  cмоделированное значение: 3.0  расхождение в 202.3 %
221. Реальное значение: 4.0  cмоделированное значение: 2.0  расхождение в -48.8 %
222. Реальное значение: 1.0  cмоделированное значение: 1.5  расхождение в 47.2 %

In [24]:
# Оценить качество на тестовой выборке
from sklearn.metrics import mean_squared_error 
MSE_train = mean_squared_error(y_train, y_train_pred) 
MSE_test  = mean_squared_error(y_test,  y_test_pred) 

print(f'MSE тренировка:  {MSE_train:5.2f},  тестирование: {MSE_test:5.2f}')

MSE тренировка:   1.09,  тестирование:  1.45

Коэффициент детерминации полученной модели:

In [25]:
model.score(X_test, y_test)

0.16438973767093068

In [26]:
from  sklearn.metrics  import r2_score 
R2_train =r2_score(y_train,  y_train_pred)
R2_test = r2_score(y_test, y_test_pred)
print(f'R2 тренировка: {R2_train:.3f},  тестирование: {R2_test:.3f}')

R2 тренировка: 0.406,  тестирование: 0.164

**Вывод:** Для тестовой выборки модель показывет крайне низкий коэффициент детерминации, т.е. всего лишь 16% изменчивости зависимого выходного атрибута -  рейтинга  фильма может быть объяснено моделью, в то время как остальные 84% изменчивости все еще не учтены. Наблюдается переобучение модели, поскольку для тренировочной последовательности коэффициент детерминации выше, чем для тестовой модели.