###### Задание 1. Загрузка данных
Загрузите  файлы по оценкам (ratings) и фильмам (movies) и создайте на их основе pandas-датафреймы

In [ ]:
import pandas as pd
import numpy as np
from tabulate import tabulate

In [53]:
# user id | item id | rating | timestamp
df_ratings = pd.read_csv('rating.csv', 
                        sep='\t', 
                        names=["user_id",
                        "item_id",
                        "rating",
                        "timestamp"],
                        dtype = {
                        "user_id": 'Int32', #01 
                        "item_id": 'Int64',  #02 
                        "rating":  'Float16',  
                        "timestamp": 'Int64', #03
                                 }
                        )

In [54]:
df_ratings.info()
df_ratings.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   user_id    100000 non-null  Int32
 1   item_id    100000 non-null  Int64
 2   rating     100000 non-null  float16
 3   timestamp  100000 non-null  Int64
dtypes: Int32(1), Int64(2), float16(1)
memory usage: 2.4 MB

   user_id  item_id  rating  timestamp
0      196      242     3.0  881250949
1      186      302     3.0  891717742
2       22      377     1.0  878887116
3      244       51     2.0  880606923
4      166      346     1.0  886397596

In [ ]:
'''
movie id | movie title | release date | video release date |
              IMDb URL | unknown | Action | Adventure | Animation |
              Children's | Comedy | Crime | Documentary | Drama | Fantasy |
              Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |
              Thriller | War | Western | 
              
'''              
df_movies = pd.read_csv('movies.csv', 
                        sep='|', 
                        names=["movie_id","movie_title", "release_date", "video_release_date",
                               "IMDb_URL", "unknown", "action", "adventure", "animation", 
                                "children_s", "comedy", "crime", "documentary", "drama", "fantasy",
                                "film-noir", "horror", "musical", "mystery", "romance", "sci-fi", 
                                "thriller", "war", "western"],
# https://stackoverflow.com/questions/5552555/unicodedecodeerror-invalid-continuation-byte                        
                        encoding='latin-1' 
                        )

In [50]:
df_movies.info()
df_movies.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_id            1682 non-null   int64
 1   movie_title         1682 non-null   object
 2   release_date        1681 non-null   object
 3   video_release_date  0 non-null      float64
 4   IMDb_URL            1679 non-null   object
 5   unknown             1682 non-null   int64
 6   action              1682 non-null   int64
 7   adventure           1682 non-null   int64
 8   animation           1682 non-null   int64
 9   children_s          1682 non-null   int64
 10  comedy              1682 non-null   int64
 11  crime               1682 non-null   int64
 12  documentary         1682 non-null   int64
 13  drama               1682 non-null   int64
 14  fantasy             1682 non-null   int64
 15  film-noir           1682 non-null   int64
 16  horror              1682 non-null   int64
 17  musical             1682 non-null   int64
 18  mystery             1682 non-null   int64
 19  romance             1682 non-null   int64
 20  sci-fi              1682 non-null   int64
 21  thriller            1682 non-null   int64
 22  war                 1682 non-null   int64
 23  western             1682 non-null   int64
dtypes: float64(1), int64(20), object(3)
memory usage: 315.5+ KB

,movie_id,movie_title,release_date,video_release_date,IMDb_URL,unknown,action,adventure,animation,children_s,...,fantasy,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

###### Задание 2. 
Средствами Pandas, используя dataframe ratings, найдите id пользователя, поставившего больше всего оценок

In [ ]:
df_groups = df_ratings.groupby('user_id').count()
df_groups.sort_values(by='rating', ascending=False).head(1)

###### Задание 3. 
Оставьте в датафрейме ratings только те фильмы, который оценил данный пользователь

In [47]:
df_405 = df_ratings.loc[df_ratings.user_id == 405]
df_405.head(5)

       user_id  item_id  rating  timestamp
12276      405       56     4.0  885544911
12383      405      592     1.0  885548670
12430      405     1582     1.0  885548670
12449      405      171     1.0  885549544
12460      405      580     1.0  885547447

Для построения модели нам нужны признаки. В качестве таковых будем использовать:
1. Год выхода
2. Жанры
3. Общее количество оценок
4. Суммарную оценку

###### Задание 4. 
Добавьте к датафрейму из задания 3 следующие столбцы:
1. По жанрам. Каждый столбец - это жанр. Единицу записываем, если фильм принадлежит данному жанру и 0 - если нет
2. Cтолбец с общим количеством оценок от всех пользователей на фильм
3. Cуммарной оценкой от всех пользователей

Нужно соединить датасеты **df_405** и   **df_movies** по столбцу идентификатора фильма

In [74]:
df_row_join =  pd.merge(df_405, df_movies, how='inner', on=None, left_on='item_id', right_on='movie_id')
df_row_join.drop(columns=['timestamp','video_release_date','IMDb_URL','movie_title'], inplace=True)
df_row_join.head (2)

,user_id,item_id,rating,movie_id,release_date,unknown,action,adventure,animation,children_s,...,fantasy,film-noir,horror,musical,mystery,romance,sci-fi,thriller,war,western
0,405,56,4.0,56,01-Jan-1994,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,405,592,1.0,592,01-Jan-1995,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0

In [ ]:
print('Уникальные значения столбцов:')
print('______________________________________________')
print('Столбец "surgery":', df['surgery?'].unique())
print('______________________________________________')
print('Столбец "age":', df['age'].unique())
print('______________________________________________')
print('Столбец "rectal_temperature":', df['rectal_temperature'].unique())
print('______________________________________________')
print('Столбец "pulse":', df['pulse'].unique())
print('______________________________________________')
print('Столбец "respiratory_rate":', df['respiratory_rate'].unique())
print('______________________________________________')
print('Столбец "temperature_of_extremities":', df['temperature_of_extremities'].unique())
print('______________________________________________')
print('Столбец "pain":', df['pain'].unique())
print('______________________________________________')
print('Столбец "outcome":', df['outcome'].unique())
print('______________________________________________')

In [ ]:
df.describe()

Значения моды для категориальных переменных:

In [ ]:
# Моды
print('Surgery:', df['surgery?'].mode()[0])
print('Age:', df['age'].mode()[0])
print('Respiratory rate:', df['respiratory_rate'].mode()[0])
print('Temperature of extremities:', df['temperature_of_extremities'].mode()[0])
print('Pain:', df['pain'].mode()[0])
print('Outcome:', df['outcome'].mode()[0])

Значения дисперсии для всех переменных:

In [ ]:
print(f'Surgery: {df["surgery?"].var():.2f}')
print(f'Age: {df["age"].var():.2f}')
print(f'Rectal temperature: {df["rectal_temperature"].var():.2f}')
print(f'Pulse: {df["pulse"].var():.2f}')
print(f'Respiratory rate: {df["respiratory_rate"].var():.2f}')
print(f'Temperature of extremities: {df["temperature_of_extremities"].var():.2f}')
print(f'Pain: {df["pain"].var():.2f}')
print(f'Outcome: {df["outcome"].var():.2f}')

Межквартильный размах:

In [ ]:
IQR_surgery = df['surgery?'].quantile(0.75) - df['surgery?'].quantile(0.25)
print(f'Surgery: {IQR_surgery:.1f}')

IQR_age = df['age'].quantile(0.75) - df['age'].quantile(0.25)
print(f'Age: {IQR_age:.1f}')

IQR_rectal_temperature = df['rectal_temperature'].quantile(0.75) - df['rectal_temperature'].quantile(0.25)
print(f'Rectal temperature: {IQR_rectal_temperature:.1f}')

IQR_pulse = df['pulse'].quantile(0.75) - df['pulse'].quantile(0.25)
print(f'Pulse: {IQR_pulse:.1f}')

IQR_respiratory_rate = df['respiratory_rate'].quantile(0.75) - df['respiratory_rate'].quantile(0.25)
print(f'Respiratory rate: {IQR_respiratory_rate:.1f}')

IQR_temperature_of_extremities = df['temperature_of_extremities'].quantile(0.75)\
- df['temperature_of_extremities'].quantile(0.25)
print(f'Temperature of extremities: {IQR_temperature_of_extremities:.1f}')

IQR_pain = df['pain'].quantile(0.75) - df['pain'].quantile(0.25)
print(f'Pain: {IQR_pain:.1f}')

IQR_outcome = df['outcome'].quantile(0.75) - df['outcome'].quantile(0.25)
print(f'Outcome: {IQR_outcome:.1f}')

Анализ основных статистических характеристик показывает что в столбце **pulse** возможен выброс по максимальному значению.
Однако данный показатель зависим от общего состояния животного - при высоком уровне боли пульс может быть повышен.

In [ ]:
# Расчёт выбросов для столбца pulse по «внутренним границам»:
q1 = df['pulse'].quantile(0.25)
q3 = df['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound_int = q1 - (1.5 * iqr) 
upper_bound_int = q3 + (1.5 * iqr)
print ('Значение выбросов столбца "pulse" по "внутренним границам" (1,5 межквартильного размаха):')
df[~df['pulse'].between(lower_bound_int, upper_bound_int, inclusive=True)]

In [ ]:
# По внешним границам - значительные выбросы:
lower_bound_ext = q1 - (3. * iqr) 
upper_bound_ext = q3 + (3. * iqr)

print ('Значения значительных выбросов по "внешним границам" (3,0 межквартильного размаха):')

df_max_outer = df[~df['pulse'].between(lower_bound_ext, upper_bound_ext, inclusive=True)]

if len(df_max_outer) == 0:
    print ('Значительных выбросов по столбцу "pulse" не обнаружено')
else:
    display(df_max_outer)

Так же возможны выбросы в столбце **respiratory_rate**. Проверим это:

In [ ]:
# Расчёт выбросов для столбца respiratory_rate по «внутренним границам»:
q1 = df['respiratory_rate'].quantile(0.25)
q3 = df['respiratory_rate'].quantile(0.75)
iqr = q3 - q1
lower_bound_int = q1 - (1.5 * iqr) 
upper_bound_int = q3 + (1.5 * iqr)
print ('Значение выбросов столбца "respiratory_rate" по "внутренним границам" (1,5 межквартильного размаха):')
df[~df['pulse'].between(lower_bound_int, upper_bound_int, inclusive=True)]

In [ ]:
# По внешним границам - значительные выбросы:
lower_bound_ext = q1 - (3. * iqr) 
upper_bound_ext = q3 + (3. * iqr)

print ('Значения значительных выбросов по "внешним границам" (3,0 межквартильного размаха):')

df_max_outer = df[~df['respiratory_rate'].between(lower_bound_ext, upper_bound_ext, inclusive=True)]

if len(df_max_outer) == 0:
    print ('Значительных выбросов по столбцу "respiratory_rate" не обнаружено')
else:
    display(df_max_outer)

Как указано в описании данных датафрейма, характиристика частоты дыхания (respiratory rate) имеет сомнительную ценность ввиду большой вариативности.

**Рекомендация:** исключить данные строки из последующего анализа.

###### Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [ ]:
df.info()

In [ ]:
elements_Nan = df.isna().sum().sum()
print('Общее количество пропущеных значений для всех столбцов:', elements_Nan)
elements = len(df.axes[0])*len(df.axes[1])
print ('Общее количество элементов в датафрейме:', elements )
print(f'Отсутствует {(elements_Nan/elements) *100}% данных')

In [ ]:
print('В разрезе по столбцам отсутствует следующее количество данных в процентах:')
(df.isna().sum() / len(df)).round(4) * 100

In [ ]:
print('Строка с пропущенным значением для столбца "surgery?"- проводилась ли хирургическая операция:')
df.loc[df['surgery?'].isnull()]

В строке так же не заполнено значение **outcome** - нет результата лечения.

**Рекомендация:** заменить значения **surgery?** и **outcome** соотвествующими модами, либо удалить строку.

In [ ]:
print('Значение моды для столбца "surgery?": ', df['surgery?'].mode()[0])
print('Значение моды для столбца "outcome": ', df['outcome'].mode()[0])
df['surgery?'].iloc[132] = 1
df['outcome'].iloc[132] = 1
df.iloc[132]

Столбец **age** не имеет пропусков данных  и не требует дополнительной обработки. Однако категориальные значения для возраста не соответствуют описанию:

 Age:
 
         1 = Adult horse
         
         2 = Young (< 6 months)
В датасете имеются только значения 1 и 9:

In [ ]:
df['age'].unique()

**Рекомендация:** определить, что **9** обозначает молодую ососбь и заменить на  **2**, как это было определено в описании данных:

In [ ]:
df['age'].loc[df['age'] == 9] = 2
df['age'].unique()

Заполнение пропущенных значений столбца ***pain*** -  
cравним показатели датафрейма при заполнении модой и медианой:

In [ ]:
moda_pain = df

moda_pain['pain'].fillna(df['pain'].mode()[0], inplace=True)
moda_pain['pain'].describe()

In [ ]:
median_pain = df
median_pain['pain'].fillna(df['pain'].median(), inplace=True)
median_pain['pain'].describe()

Каких-либо различий в статистических показателях не обнаружено.
**Рекомендация:** столбец **pain** заполняем значением моды.

In [ ]:
df['pain'].fillna(df['pain'].mode()[0], inplace=True)
df.info()

Убедимся, что в столбце **pain** не осталось пропусков:

In [ ]:
df['pain'].isna().sum()

In [ ]:
df.info()

Используем матрицу корреляции пропущенных значений и группировку для заполниня по медиане 

Матрица корреляуии показывает насколько сильно присутствие или отсутствие значений одного признака влияет на присутствие значений другого.

In [ ]:
df[['rectal_temperature',  'pulse', 'respiratory_rate', 'temperature_of_extremities']].isna().corr()

Столбец **rectal_temperature** содержит набор непрерывных величин, пропуски могут быть заполнены медианными  значениями в зависимости от возрастной категории и уровня боли:

In [ ]:
# Мы не можем исключать, что средние температуры в зависимости возраста различны...
# Используем заполнение внутригрупповым значением
# https://www.dmitrymakarov.ru/data-analysis/nan-06/?ysclid=lctaakg710392163057#8-protsent-propushchennykh-znacheniy
print('Группы по возрастам: 1-возрослая лошадь, 2-жеребенок:')
print(df.groupby(['age'])['rectal_temperature'].agg('count'))
print('Медианная температура по возрастам: 1-возрослая лошадь, 2-жеребенок:')
print(df.groupby(['age','pain'])['rectal_temperature'].median())
df['rectal_temperature'] = df['rectal_temperature'].fillna(df.groupby(['age', 'pain'])['rectal_temperature'].transform('median'))

Убедимся, что в столбце **rectal_temperature** не осталось пропусков:

In [ ]:
df['rectal_temperature'].isna().sum()

Заменим значение пульса (**pulse**) на медианное по группе в зависимости от возраста и температуры:

In [ ]:
df['pulse'] = df['pulse'].fillna(df.groupby(['age', 'rectal_temperature'])['pulse'].transform('median'))

Убедимся, что в столбце **pulse** не осталось пропусков:

In [ ]:
df['pulse'].isna().sum()

Заменим значение частоты дыхания (**respiratory_rate**) на медианное по группе в зависимости от возраста и уровня боли:

In [ ]:
df['respiratory_rate'] = df['respiratory_rate'].fillna(df.groupby(['pain','age'])['respiratory_rate'].transform('median'))

Убедимся, что в столбце **respiratory_rate** не осталось пропусков:

In [ ]:
df['respiratory_rate'].isna().sum()

Заменим значение температуры конечностей (**temperature_of_extremities**) на медианное по группе в зависимости от возраста и исхода:

In [ ]:
df['temperature_of_extremities'] = df['temperature_of_extremities'].fillna(df.groupby(['outcome','age'])['temperature_of_extremities'].transform('median'))

Убедимся, что в столбце **respiratory_rate** не осталось пропусков:

In [ ]:
df['temperature_of_extremities'].isna().sum()

## Минимум, максимум и размах

In [ ]:
print(max(df['Height']))
print(np.max(df['Height']))
print(df['Height'].max())

In [ ]:
print(min(df['Weight']))
print(np.min(df['Weight']))
print(df['Weight'].min())

In [ ]:
df[df['Weight'] == df['Weight'].min()]

In [ ]:
# размах – разница между минимальным и максимальным значением
weight_range = df['Weight'].max() - df['Weight'].min()
height_range = df['Height'].max() - df['Height'].min()
print(weight_range)
print(height_range)

## Среднеарифметическое

In [ ]:
# ручной подсчет
sum(df['Weight']) / len(df['Weight'])

In [ ]:
print(np.mean(df['Weight']))
print(df['Weight'].mean())

## Мода

In [ ]:
print('Значение моды: ', df['Weight'].mode()[0])

## Медиана

In [ ]:
print(df['Height'].median())
print(np.median(df['Height']))

## СКО

In [ ]:
print('Рост')
print(df['Height'].std())
print(np.std(df['Height'], ddof=1)) # дельта степеней свободы в numpy по умолчанию 0

print('Вес')
print(df['Weight'].std())
print(np.std(df['Weight'], ddof=1))

## Дисперсия

In [ ]:
print('Рост')
print(np.var(df['Height'], ddof=1))
print(df['Height'].var())

print('Вес')
print(np.var(df['Weight'], ddof=1))
print(df['Weight'].var())

## Квантили

In [ ]:
# это же медиана!
df['Height'].quantile()

In [ ]:
# первый и третий квартили
df['Height'].quantile([0.25, 0.75])

In [ ]:
# произвольный перцентиль
df['Height'].quantile(0.33)

In [ ]:
# межквартильный размах
Q1 = df['Height'].quantile(0.25)
Q3 = df['Height'].quantile(0.75)
IQR = Q3 - Q1
IQR

## Describe

In [ ]:
df.describe()

## Выбросы

In [ ]:
# тыкнем пальцем в небо (определим выбросы вручную) и посмотрим, как изменились средние
print(df['Weight'].mean())
print(df[(df['Weight'] > 50) & (df['Weight'] < 150)]['Weight'].mean())

In [ ]:
# а медиана?
print(df['Weight'].median())
print(df[(df['Weight'] > 50) & (df['Weight'] < 150)]['Weight'].median())

In [ ]:
# ну с модой все понятно
print(df['Weight'].round().mode()[0])
print(df[(df['Weight'] > 50) & (df['Weight'] < 150)]['Weight'].round().mode()[0])

А теперь найдем выбросы через межквартльный размах (на примере роста)

PS: через межквартильный размах корректно искать выбросы в нормально распределенных данных (про распределения будет дальше на курсе)

In [ ]:
q1 = df['Height'].quantile(0.25)
q3 = df['Height'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df[df['Height'].between(lower_bound, upper_bound, inclusive=True)]
remove_outliers

In [ ]:
# что это за выбросы?
df[~df['Height'].between(lower_bound, upper_bound, inclusive=True)]

In [ ]:
print(remove_outliers['Height'].mean())
print(remove_outliers['Height'].median())

In [ ]:
print(df['Height'].mean() - remove_outliers['Height'].mean())

In [ ]:
print(df['Height'].median() - remove_outliers['Height'].median())

## Пропуски

Как часто в реальной жизни приходится заполнять пропуски?

На самом деле не часто. Заполнять нужно в том случае, когда алгоритм, для которого готовятся данные, чувствителен к пропускам. Например, регрессии и нейросети – чувствительны, а корреляция и стат-тесты нет (хотя для стат-тестов пропуски нужно удалять).

Кроме того, заполнять мы, строго говоря, имеем право только когда данные пропущены совершенно случайно (MCAR) – тогда заполнение не повлияет на характер связи междузаполняемой переменной и остальными. А то, что у нас MCAR нужно еще доказать.

Но это нужно уметь делать в тех случаях, когда необходимо.

In [ ]:
titanic = pd.read_csv('https://raw.githubusercontent.com/obulygin/netology_pyda_files/main/titanic.csv')
titanic.info()
titanic

Если в данных пропуски представлены в виде каких-то конкретных значений (пустые строк, -, ? и пр.), то используйте аргумент na_values при чтении файла.

In [ ]:
(titanic.isna().mean() * 100).round(2)

### Игнорирование пропусков

In [ ]:
# все методы pandas по-умолчанию просто не берут в расчет пропуски
print(titanic['Age'].mean())
print(titanic['Age'].median())
print(titanic['Age'].mode()[0])

print(titanic['Age'].std())
print(titanic['Age'].var())

### Удаление строк с пропусками

In [ ]:
titanic.dropna().info()

In [ ]:
# посмотрите на сколько исказились статистики, если мы удалим все строки с пропусками
print(titanic.dropna()['Age'].mean())
print(titanic.dropna()['Age'].median())
print(titanic.dropna()['Age'].mode()[0])

print(titanic.dropna()['Age'].std())
print(titanic.dropna()['Age'].var())

In [ ]:
# предположим, мы хотим оставить только те строки, в которых как минимум 11/12 значений заполнено
titanic.dropna(thresh=11)

### Удаление столбцов с пропусками

In [ ]:
# удалять все в данном случае – странно
titanic.dropna(axis = 1).info()

In [ ]:
# у нас очень много пропусков в Cabin. Нам эта информация точно нужна?
titanic.drop(['Cabin'], axis=1).info()

### Замена пропусков

Замена на определенное значение

In [ ]:
fill_by_cnst = titanic.copy()
fill_by_cnst['Cabin'] = fill_by_cnst['Cabin'].fillna('no_info')
print(fill_by_cnst['Cabin'].isna().sum())
print(fill_by_cnst['Cabin'].unique())

Заполняя пропуски, мы хотим сохранить параметры распределения заполняемой переменной – математическое ожидание и дисперсию. Самый простой способ это сделать – заполнить средним или медианой. В этом случае сохраняется среднее, но дисперсией приходится пожертвовать.

Замена средним

In [ ]:
# возраст дискретен, при заполнении средними еще стоит округлить. Проигнорируем в учебных целях

fill_mean = titanic.copy()

fill_mean['Age'] = fill_mean['Age'].fillna(titanic['Age'].mean())

In [ ]:
print(titanic['Age'].describe())
print('-----------------------------------')
print(fill_mean['Age'].describe())

Замена медианой

In [ ]:
fill_median = titanic.copy()

fill_median['Age'] = fill_median['Age'].fillna(titanic['Age'].median())

In [ ]:
print(titanic['Age'].describe())
print('-----------------------------------')
print(fill_median['Age'].describe())

Замена модой

In [ ]:
titanic['Embarked'].value_counts()

In [ ]:
titanic_fill_mode = titanic.copy()
titanic_fill_mode['Embarked'] = titanic_fill_mode['Embarked'].fillna(titanic['Embarked'].mode()[0])

titanic_fill_mode['Embarked'].value_counts()

В большинстве случаев это слишком наивные варианты заполнения, как минимум стоит заполнять значениями в разрезе других признаков (когда применимо).

Заполнение пропусков с группировкой по
одной переменной

In [ ]:
# мы не можем исключать, что медианный возраст мужчин и женщин отличался
print(titanic.groupby('Sex')['Age'].median())
fill_median_by_gender = titanic.copy()
fill_median_by_gender['Age'] = fill_median_by_gender['Age'].fillna(titanic.groupby('Sex')['Age'].transform('median'))

In [ ]:
# а может быть и в разных классах были пассажиры разного возраста?
print(titanic.groupby(['Sex', 'Pclass'])['Age'].median())
fill_median_by_groups = titanic.copy()
fill_median_by_groups['Age'] = fill_median_by_groups['Age'].fillna(titanic.groupby(['Sex', 'Pclass'])['Age'].transform('median'))

Заполнение следующими/предыдущими значениями

In [ ]:
city_day = pd.read_csv('https://raw.githubusercontent.com/obulygin/netology_pyda_files/main/city_day.csv', parse_dates=True, index_col='Date')
city_day.info()

In [ ]:
city_day

In [ ]:
(city_day.isna().mean() * 100).round(2)

In [ ]:
city_day.fillna(method='ffill', inplace=True)

In [ ]:
city_day.fillna(method='bfill', inplace=True)

In [ ]:
(city_day.isna().mean() * 100).round(2)